:root {
    --margin-inner-container: 20px;
    --margin-caption: 20px;
    --font-size-header: 30px;
    --font-size-artist-name: 38px;
    --font-size-artist-bio: 22px;
    --font-size-caption: 20px;
    --padding-vertical-header: 28px;

}

.outerContainer {
    background-color: #FEE333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer {
    background-color: white;
    width: calc(100% - (var(--margin-inner-container) * 2));
    height: calc(100% - (var(--margin-inner-container) * 2));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.innerContainer--headerSection {
    border-bottom: 2px solid gray;
    padding: 28px 20px;
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;

}

.innerContainer--artworkSection {
    display: flex;
    justify-content: space-evenly;
    margin: var(--margin-inner-container);
    height: 100%;
}

.containerLeft {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F5F9;

    /* height: calc(100% - (var(--margin-inner-container) * 2)); */
}

.containerRight {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.captionContainer {
    width: calc(100% - (var(--margin-caption) * 2));
    font-family: Helvetica, Arial, sans-serif;
    overflow: scroll;
    /* margin-top: var(--margin-caption); */
}

.captionContainer p, h1 {
    margin: 0;
}

.imageContainer {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: calc(100% - 80px);
    /* background-color: #F8F5F9; */
}

#captionContainer--artistName {
    font-size: var(--font-size-artist-name);
    font-weight: 600;
}

#captionContainer--artistBio {
    font-size: var(--font-size-artist-bio);
    margin-top: 4px;
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    /* max-height: calc(100% - 80px);
    margin-top: 40px;
    margin-bottom: 40px; */
    object-fit: contain;
}

.buttonContainer {
    width: calc(100% - (var(--margin-caption) * 2));
}

.hideTable {
    display: none;
}

td {
    vertical-align: top;
    font-size: var(--font-size-caption);
}

button {
    background-color: #fff;
    padding: 20px 0;
    width: 100%;
    font-size: 16px;
    color: #000;
    font-family: Helvetica, serif;
    margin-bottom: var(--margin-caption);
    text-transform: uppercase;
    border: 2px solid black;
}

button:active {
    background-color: #000;
    color: #fff;
}